<!DOCTYPE html>
<html>
  <head>
    <title>The Big Bird App - The most beautiful way to view Twitter</title>
    <link href="/stylesheets/style.css" rel='stylesheet' type="text/css" />
  </head>
  <body>
  </body>
</html>
